DATABASE_PASSWORD=postgres
DATABASE_USERNAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

MAILER_ADDRESS='127.0.0.1'
MAILER_PORT='1025'
MAILER_USER_NAME=example@email.com
MAILER_PASSWORD=123
MAILER_DOMAIN=localhost
MAILER_HOST=localhost

DEVISE_JWT_SECRET_KEY=2cb69b2db053a90298bc29f2a791a847c018324869f14c9878d8e80b6802ad5518d99f1b216e96bee3ea05dcc07474a1d879390ea4caa76f04004bfebf1cd212